.app {
    display: grid;
    grid-template-columns: 178px calc(100% - 178px);
    grid-template-rows: 100vh;
    position: relative;
}

.menu {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: var(--slidebar-color);
    flex-direction: column;
}

.menu__header {
    display: flex;
    align-items: center;
    padding: 24px;
    height: 48px;
    align-items: center;
}

.menu__header--option {
    background-position: -424px -86px;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.menu__header--logo {
    height: 32px;
}

.menu__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    padding: 0;
}

.menu__list--icon-chart {
    background-position: -30px -1628px;
}

.menu__list--icon-cash {
    background-position: -73px -1628px;
}

.menu__list--icon-bank {
    background-position: -117px -1628px;
}

.menu__list--icon-pu {
    background-position: -161px -1628px;
}

.menu__list--icon-cart {
    background-position: -204px -1628px;
}

.menu__list--icon-invoice {
    background-position: -249px -1628px;
}

.menu__list--icon-stock {
    background-position: -291px -1628px;
}

.menu__list--icon-tools {
    background-position: -336px -1628px;
}

.menu__list--icon-assets {
    background-position: -378px -1630px;
}

.menu__list--icon-tax {
    background-position: -423px -1630px;
}

.menu__list--icon-price {
    background-position: -467px -1630px;
}

.menu__list--icon-general {
    background-position: -510px -1630px;
}

.menu__list--icon-budget {
    background-position: -378px -1659px;
}

.menu__list--icon-report {
    background-position: -547px -1628px;
}

.menu__list--icon-finance {
    background-position: -204px -1664px;
}

.menu__list--item {
    display: flex;
    align-items: center;
    height: 38px;
    font-size: 1.4rem;
    color: var(--white-color);
}

.menu__list--item:hover {
    background-color: #58595d;
    cursor: pointer;
}

.menu__list--icon {
    margin-left: 14px;
    margin-right: 8px;
}

.content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 48px calc(100vh - 48px);
}

.content__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 0 12px;
}

.content__header--navbar,
.content__header--user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__icon--three-stripes {
    background-position: -843px -30px;
    margin-right: 24px;
}

.navbar__icon--chevron-right,
.user__icon--chevron-right {
    background-position: -80px -360px;
    transform: rotate(90deg);
}

.navbar__branch,
.user__info--name {
    font-size: 1.4rem;
    margin-right: 12px;
    font-family: MISA FONT-BOLD;
}

.user__icon--bell {
    background-position: -788px -30px;
    margin-right: 24px;
}

.user__info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user__info-avatar {
    margin-right: 4px;
}

.default-avatar {
    border-radius: 12px;
}

.content__area {
    background-color: #eceef1;
    grid-row-start: 2;
    grid-row-end: 3;
}

.content__area--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px;
    margin-top: 24px;
}

.area--header__title {
    font-size: 2rem;
    font-weight: 600;
}

.content__area--body {
    background-color: #fff;
    margin: 24px;
    overflow-y: scroll;
    max-height: 75%;
}

.area--body__data {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

.database-search {
	position: relative;
	display: inline-block;
	margin: 4px 2px;
	height: 50px;
	width: 50px;
}

.search {
    font-size: 1.6rem;
	position: absolute;
	left: 49px; 
	background-color: rgba(112, 112, 112, 0.11);
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    color: rgb(0, 0, 0);
}

.searchbutton {
    border-radius: 6px;
	position: absolute;
	font-size: 22px;
	width: 100%;
	margin: 0;
	padding: 0;
}
.search:focus {
	width: 400px;
	padding: 0 16px 0 0;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: rgba(112, 112, 112, 0.11);
	color: rgb(0, 0, 0);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.expandright {
	left: auto;
	right: 50px;
}
.expandright:focus {
	padding: 0 0 0 16px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.button {
	display: inline-block;
	background-color: #444;
	font-size: 34px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: var(--primary-color);
}

.mglass {
    color: #f1f1f1;
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.area--body__data-reload {
    background-position: -423px -201px;
    margin-left: 24px;
}

.area--body__data-reload:hover {
    cursor: pointer;
}

.content__area--table {
    margin: 0 24px 0 12px;
    border-collapse: collapse;
}

tbody td {
    font-size: 1.3rem;
}

td,
th {
    border-bottom: 1px solid #c7c7c7;
    border-right: 1px dotted #c7c7c7;
}

th {
    background-color: #e5e8ec;
}

.td--wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.td--fix {
    margin-right: 16px;
}

.td--fix__icon {
    background-position: -368px -360px;
}

.content__footer {
    display: flex;
    justify-content: space-between;
}

.content__footer--pagination {
    display: flex;
    margin-right: 24px;
}

.pagination__button {
    display: flex;
}

.content__footer--total-record {
    font-size: 1.4rem;
}

.pagination__combobox {
    height: 26px;
}

.btn-hide {
    color: #c7c7c7;
}

/* Dialog */

.dialog {
    position: absolute;
    top: 20%;
    left: 28%;
    width: 50%;
    background-color: #c7c7c7;
}

.dialogEmployee {
    padding: 16px 16px 24px 24px;
    border: 1px solid #333;
    border-radius: 4px;
    /* display: none; */
    z-index: 1;
}

.btn__support {
    background-position: -89px -144px;
}

.btn__close {
    background-position: -144px -144px;
    margin-left: 8px;
}

.btn__close:hover {
    cursor: pointer;
    background-color: #58595d;
}

.dialog__header {
    display: flex;
    justify-content: space-between;
}

.dialog__header--select {
    display: flex;
    align-items: center;
}

.dialog__header--btn {
    display: flex;
    justify-content: space-between;
}

.dialog__header--info {
    margin-right: 16px;
    font-size: 3rem;
    font-weight: 500;
}

.dialog__header--input-checkbox {
    margin-right: 12px;
}

.dialog__header--input {
    display: flex;
    align-items: center;
    margin-right: 24px;
    font-size: 1.4rem;
}

.dialog__content {
    display: grid;
    grid-template-columns: calc(100% / 2);
    font-size: 1.4rem;
    padding: 32px 0;
}

.dialog__content--left {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-content: flex-start;
    flex-direction: column;
    padding-right: 32px;
}

.dialog__content--left-1 {
    display: grid;
    grid-template-columns: calc(100% / 3);
}

.dialog__content--code {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-right: 8px;
}

.dialog__content--name {
    grid-column-start: 2;
    grid-column-end: 4;
}

.dialog__content--right {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 3;
    flex-direction: column;
}

.dialog__content--col-1 {
    display: flex;
}

.employee-input {
    height: 32px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #333;
    outline: none;
    margin-top: 8px;
    padding: 0 8px;
}

.gender {
    display: flex;
}

.dialog__content--right-2 {
    display: grid;
    grid-template-columns: calc(100% / 3);
}

.dialog__content--idcard {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-right: 8px;
}

.dialog__content--date {
    grid-column-start: 3;
    grid-column-end: 4;
}

.dialog__content--right-1 {
    display: grid;
    grid-template-columns: calc(100% / 3);
}

.dialog__content--birth {
    grid-column-start: 1;
    grid-column-end: 2;
}

.dialog__content--gender {
    grid-column-start: 2;
    grid-column-end: 4;
    padding-left: 24px;
}

.radio-label {
    padding-right: 16px;
}

#gender-1,
#gender-2,
#gender-3 {
    margin-right: 8px;
}

.employeeGender {
    margin-bottom: 16px;
}

span {
    color: red;
}

.dialog__address {
    font-size: 1.4rem;
    padding-bottom: 24px;
}

.dialog__contact {
    display: grid;
    grid-template-columns: calc(100% / 4);
    font-size: 1.4rem;
    padding-bottom: 32px;
    border-bottom: 1px dotted #666;
}

.dialog__warp {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
}

.row__second {
    margin-top: 16px;
}

.dialog__contact--col-1,
.dialog__contact--col-2 {
    margin-right: 8px;
}

.dialog__footer {
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
}

.dialog__footer--saved {
    display: flex;
}

.dialog__footer--saved .btn-cancel {
    margin-right: 8px;
}

.totalpage{
    font-size: 1.6rem;
    margin-left: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Toast */

.toast__body--mess {
    background-position: -666px -456px;
}

.toast__body--warning {
    background-position: -592px -456px;
}

.toast__body--content {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    padding-top: 12px;
}

.toast-messenger {
    position: absolute;
    top: 38%;
    left: 42%;
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #333;
    z-index: 10;
}

.msg__delete {
    display: flex;
    justify-content: space-between;
}

.toast__body--wrap {
    display: flex;
    align-items: center;
}

.toast__body {
    border-bottom: 1px dotted #333;
    padding: 0 0 12px 0;
}

.toast__close {
    padding: 20px 0 0 0;
}

.toast__body--error {
    background-position: -746px -456px;
}

.toast__body--msg {
    font-size: 4.8rem;
}

/* Dropdown Menu */
.dropdown{
    display: inline-block;
    position: relative;
}
.drop-interact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #003d83;
}
.dropdown-content{
    right: 56px;
    background-color: #f1f1f1;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    overflow: visible;
}
.dropdown-content a {
    color: var(--text-color);
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: var(--white-color);
}
.dropdown-text{
    margin: 0 12px 0 8px;
    color: var(--text-color);
}
.dropdown-text:hover{
    cursor: pointer;
}
.dropbtn:hover{
    cursor: pointer;
}